:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --primary-color: #3A3A3A;
  --btn-colo: #e02c6d;
  --orange-color: #fb8200;
  --gray-color : #787885;
  --dark-blue-color : #0A0826;
  --background-color: #ffffff;
  --primary-padding: 80px 120px;
  --primary-padding-mobile: 30px 20px;
  --description-font-size: 14px;
  --white-color: #ffffff;
  --black-color: #18191F;
  --universe-transition: all 0.4s linear;
  --transition-1s: all 0.1s linear;
  --transition-2s: all 0.2s linear;
  --transition-3s: all 0.3s linear;
  --transition-3s: all 0.4s linear;
}

/* ------------------
universe selectors
------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.btn {
  padding: 15px 20px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  background-color: var(--btn-colo);
  color: var(--white-color);
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: var(--transition-3s);
}
.btn:hover {
  background-color: var(--black-color);
}

.btn::after {
  content: "";
  height: 100%;
  width: 0;
  background-color: var(--black-color);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  z-index: -2;
  transition: var(--transition-3s);
}
.btn:hover:after {
  width: 100%;
}
/* ------------------
universe selectors end
------------------ */

/* header STYLES */
.header {
  padding: var(--primary-padding);
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

/* ---------------------------------------------
this section will show just in mobile section
--------------------------------------------- */
.hambar {
  display: none;
}

.mobile-cart {
  display: none;
}

/* ---------------------------------------------
this section will show just in mobile section end
--------------------------------------------- */

.nav {
  flex: 1;
  text-align: right;
}

.nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 13px;
}

.nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

/* ----------------
hero image style
---------------- */

.hero_img_section {
  padding: var(--primary-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_col {
  max-width: 90%;
}

.hero_text_title {
  font-size: 40px;
  line-height: 45px;
  color: var(--primary-color);
}

.hero_text_subtitle {
  font-size: var(--description-font-size);
  margin: 16px 0;
}

.hero_btn i {
  margin-left: 10px;
}


.hero_img {
    background-image: url(../assets/images/Circle\ design.svg);
    background-position: left;
    background-size: 95%;
    background-repeat: no-repeat;
}


.hero_img img {
  width: 100%;
}

/* ----------------
icons container style
---------------- */

.icons_container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 40px;
    padding: var(--primary-padding);
}

.icon_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_box img{
    width: 100%;
}


/* *************************
    Popular Collection
************************* */
.popular_collection_section {
  text-align: center;
  padding: var(--primary-padding);
  
}

.popular_collection_section> h2 {
  margin-bottom: 30px;
}

/* --------------
product grid 
-------------- */
.popular_collection_container {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  position:relative;
  padding-bottom: 45px;
}

.popular_collection_box {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px rgba(128, 128, 128, 0.100);
  cursor: pointer;
  transition: var(--transition-2s);
}
.popular_collection_box:hover {
  box-shadow: 0 0 5px 3px rgba(128, 128, 128, 0.200);
  cursor: pointer;
}


.popular_collection_box .product_img_box {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
}

.popular_collection_box .product_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.popular_collection_description h3.product_title {
  font-weight: 600;
  margin: 10px 0;
  font-size: 22px;
}

.popular_collection_description p.product_price {
  font-size: 20px;

}

.popular_collection_description p.ratting {
  color: var(--orange-color);
  font-size: 11px;
}

.popular_collection_description p.ratting span{
  color: var(--gray-color);
  font-size: 14px;
  margin-left: 10px;
}

.popular_collection_description .producti_details {
  line-height: 20px;
  margin: 10px 0;
}
/* --------------
product grid end
-------------- */

.popular_collection_section .see_more {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--btn-colo);
  cursor: pointer;
}


/* *************************
Featured products at one place
************************* */
.featured_product_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  padding: var(--primary-padding);
}


.featured_product_img img {
  width: 100%;
}

.featured_product_content {
  grid-column: auto / span 2;
}

.featured_product_content h3.feature_title {
  font-size: 24px;
  line-height: 50px;
}

.featured_product_content p.feature_descrption {
  line-height: 30px;
  margin: 10px 0 20px;
}

.feature_btn {
  border-radius: 0;
}

/* *************************
footer section
************************* */

.foodter {
  padding: var(--primary-padding);
  background-color: var(--dark-blue-color);
  text-align: center;
  color: var(--white-color);
}

.footer_title {
  font-size: 24px;
}

.footer_copy {
  font-size: 13px;
  margin: 7px 0;
}
.footer_icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer_icons i {
  width: 30px;
  height: 30px;
  background-color: rgba(174, 174, 174, 0.225);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}




/* *************************
    media quarry
************************* */

@media screen and (max-width: 576px) {
  .header {
    padding: var(--primary-padding-mobile);
    justify-content: space-between;
  }

  .nav {
    display: none;
  }
  .hambar {
    display: block;
  }

  .mobile-cart {
    display: block;
  }


/* -----------------------
  hero_img_section
----------------------- */


.hero_img_section {
  padding: var(--primary-padding-mobile);
  flex-direction: column-reverse;
  gap: 20px;

}


/* <!-- -------------------
        company's icons
    ------------------- --> */

.icons_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: var(--primary-padding-mobile);
}


/* *************************
    Popular Collection
************************* */
.popular_collection_section {
  padding: var(--primary-padding-mobile);
}

/* --------------
product grid 
-------------- */
.popular_collection_container {
  grid-template-columns: repeat(1, 1fr);
}


.popular_collection_section .see_more {
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}


/* *************************
Featured products at one place
************************* */
.featured_product_section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  grid-gap: 0px;
  padding: var(--primary-padding-mobile);
}


.featured_product_content h3.feature_title {
  line-height: 25px;
}

.featured_product_img {
  order: 1;
}

.featured_product_content {
  text-align: center;
  margin-bottom: 20px;
}


/* *************************
footer section
************************* */

.foodter {
  padding: var(--primary-padding-mobile);

}


}
